body {
  font-family: sans-serif;
  margin: 0;
}

ul.nav {
  background: #2d2d2d;
  height: 38px;
  margin: 0;
  -webkit-padding-start: 0; 
  font-size: 14px;
}

ul.nav li {
  padding: 10px;
  list-style: none;
  display: inline-block;
}

ul.nav li a {
  color: #bbbbbb;
  text-decoration: none;
}

ul.nav li a:hover {
  color: white;
}

ul.nav li a.active {
  color: white;
}

div.search-container {
  background: #f4f4f4;
  height: 64px;
}

div.search-container form {
  padding: 21px 10px 21px;
}
