body {
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;
}

ul.nav {
  background: #2d2d2d;
  height: 38px;
  margin: 0;
  -webkit-padding-start: 0; 
}

ul.nav li {
  padding: 10px;
  list-style: none;
  display: inline-block;
}

ul.nav li a {
  color: #bbbbbb;
  text-decoration: none;
}

ul.nav li a:hover {
  color: white;
}

ul.nav li a.active {
  color: white;
}

div.search-container {
  background: #f4f4f4;
  height: 64px;
}

form.search-form {
  padding: 21px 10px 21px;
}

ul.filters {
  height: 38px;
  border: 1px solid #ebebeb;
  margin: 0;
}

ul.filters li {
  list-style: none;
  display: inline-block;
  padding: 12px 12px 7px;
}

ul.filters li a {
  color: #777777;
  text-decoration: none;
}

ul.filters li.active {
  border-bottom: 3px solid #cc5a4a;
}

ul.filters li a.active {
  color: #cc5a4a;
}
